# -*- mode: gitignore; -*-

##############################################################################
## Completions
##############################################################################

/functions/_gh